<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-DQvkBjpPgn7RC31MCQoOeC9TI2kdqa4+BSgNMNj8v77fdC77Kj5zpWFTJaaAoMbC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   
  </head>
  <body>
    <div class="nav-container">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          
          <a class="navbar-brand" href="#">BackGround Remover</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
              <a class="nav-link" href="#">Features</a>
              <a class="nav-link" href="#">Pricing</a>
              <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </div>
          </div>
        </div>
      </nav>
      </div>
<div class="main-section">
  <div class="main-img-div">
    <img src="{{ url_for('static', filename='bg_logo.webp') }}" alt="Logo">
  </div>
  <div>
    <h1 class="main-title">Remove Background</h1>
    <p class="main-description">Remove background from your images in seconds.</p>
  </div>  

</div>

<div class="upload-section">
  <h2 class="upload-title">Upload Your Image</h2>
  <form action="/" method="post" enctype="multipart/form-data">
    <div class="mb-3">
      <input type="file" class="form-control" id="formFile" name="file" required>
    </div>
<button class="button-24" type="submit" role="button">Upload</button>

  </form>
</div>
{% if output_image_data %}
  <div class="result-section mt-4 text-center">
    <h2>Result:</h2>
    <img src="{{ output_image_data }}" alt="Processed Image" class="img-fluid mt-2" />
  </div>
{% endif %}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-YUe2LzesAfftltw+PEaao2tjU/QATaW/rOitAq67e0CT0Zi2VVRL0oC4+gAaeBKu" crossorigin="anonymous"></script>
  </body>
</html>